---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Sistema de monitoreo de criadero de cuyes implementando IoT</h1>
      <img width={1020} height={510} src="/cuy-inicio.jpg" alt="" />
			<p>
				Este proyecto se centra en desarrollar un sistema inteligente de monitoreo para criaderos de cuyes utilizando tecnologías de Internet de las Cosas (IoT). El sistema recolecta datos en tiempo real de diferentes parámetros ambientales críticos, como temperatura, humedad, calidad del aire y niveles de amoníaco, mediante sensores distribuidos estratégicamente en el criadero. 
			</p>
			<p>
				Los datos son almacenados en una base de datos y procesados para proporcionar alertas y recomendaciones automáticas que optimicen las condiciones de los cuyes, mejorando su salud y bienestar.
			</p>
			
			<p>
				La información se presenta en una interfaz web interactiva, accesible desde dispositivos móviles y computadoras, permitiendo a los criadores tomar decisiones informadas de manera eficiente y remota.
			</p>
		</main>
		<Footer />
	</body>
</html>
