---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Integrantes"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('September 05 2024')}
	heroImage="/integrantes.jpg"
>
	<p>
		Kori Timana
	</p>
	<p>
		Omar Ccencho
	</p>
	<p>
		Omar Vargas
	</p>
	<p>
		Wilber Melendez
	</p>
	<p>
		Juan Pablo Rosado
	</p>

</Layout>
